
.mainFormContainer{
    width: 50%;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 5em;
    padding: 6em 1em;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 9px -1px 35px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px -1px 35px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 9px -1px 35px -1px rgba(0,0,0,0.75);

    /* padding-top: ; */
}

.loginTitle{
    text-align: center;
}

.form{
    width: 50%;
    margin: 0 auto;
}

.form form{
    display: flex;
    flex-direction: column;
}

.form form input{
    margin-bottom: 0.45em;
    padding: 0.8em 2em;
    border-radius: 10px;
    outline: 1px solid #1877f2;
    border: none;
}

.form form button{
    padding: 0.8em 2em;
background-color: #1877f2;
color: #fff;
border: none;
margin-top: 1em;
}

.form form span{
    color: red;
    font-size: 0.8em;
}


.footerText{
    text-align: center;
    margin-top: 0.8em;
}

.footerText p a{
     text-decoration: none;
     border-bottom: 3px solid yellow;
     color: black;
}
@media screen  and (max-width:650px){
    
    .form{
        width: 95%;
       
    }

    .mainFormContainer{
        width: 85%;
        margin-top: 3.5em;
    }
}



